<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Nicholas Clopton</title>
        <link rel="icon" type="image/x-icon" href="static/theme/assets/img/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="static/theme/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Nicholas Clopton</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/theme/assets/img/profile.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#certifications">Certifications</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Nicholas
                        <span class="text-primary">Clopton</span>
                    </h1>
                    <div class="subheading mb-5">
                        1127 W. Chestnut St. · Denison, TX 75020 · (903) 415-8013 ·
                        <a href="mailto:megawolph@gmail.com">megawolph@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Former retail manager looking to break into IT as a profession rather than just a hobby.
                        I am passionate about IT and want to find a place to put that passion to work.
                        I am currently working on my degree in Computer and Network Security at Wilmington University.
                        My current side project is getting a virtualization server up and running in my home network.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/nicholas-clopton-058091217"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Support Manager</h3>
                            <div class="subheading mb-3">Wal-Mart Stores, Inc.</div>
                            <p>Providing excellent costumer service, assisting costumers with the ever-changing Wal-Mart Online Grocery Pick-up application both in person and over the phone, Teaching and training associates to use the TC-70 inventory control applications and assisting them when things go awry, Assisting associates on proper usage of the Wal-Mart Computer systems, Fixing improper time clock punches as they arise.  </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2012 - October 2021</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Wilmington University</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer and Network Security</div>
                            <p>Current GPA: 4.0</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Fall 2021 - Current</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Grayson County College</h3>
                            <div class="subheading mb-3">General Educational Development</div>
                            <p>Cert. No. 1772536</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"> October 2007</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Operating Systems</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Microsoft Windows 7,8,10,11
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Linux distributions: Ubuntu, Kali linux, Parrot OS, and many more
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mac OS
                        </li>
                    </ul>
                    <div class="subheading mb-3">Cloud Computing Platforms</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Azure
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Linode
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            AWS
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Google Cloud
                        </li>
                    </ul>
                    <div class="subheading mb-3">Virtualization Software</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Microsoft Hyper-V
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            VMWare workstation
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Oracle VM Virtual Box
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Docker
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Kubernetes
                        </li>
                    </ul>
                    <div class="subheading mb-3">Other Software</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Microsoft Office Suite
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Zen Desk
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PyCharm
                        </li>
                         <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Django
                        </li>
                    </ul>
                    <div class="subheading mb-3">Other Skills</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Computer Hardware
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Networking Hardware
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Trouble-shooting skills
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Other then the CyberSecurity and IT interests, I enjoy 3-d printing, raising my two daughters, and doing home improvement projects around the house.</p>
                    <p class="mb-0">However most of my time lately is spent going to college and learning other side projects such as this website I build on the django framework.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="certifications">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            <a href="https://w3.testout.com/pro-certifications/pc-pro">TestOut PC Pro</a>
                        <li>
                            Certification Date: 10/14/2021
                        </li>
                        <li>
                            Candidate Id: 6-U6-4CAR
                        </li>
                        <li>
                            Certificate Id: 6-2C6-FUASX
                        </li>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/theme/js/scripts.js"></script>
    </body>
</html>
